<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570919367748-r71jo67vkf7npomg8aid0rkrf9lk312j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570919367748-r71jo67vkf7npomg8aid0rkrf9lk312j</string>
	<key>API_KEY</key>
	<string>AIzaSyDPnSg_9v2cTc-0YMO3RdgXX9bT2EVro0w</string>
	<key>GCM_SENDER_ID</key>
	<string>570919367748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VK-App.Bazhkov.Lev.GB</string>
	<key>PROJECT_ID</key>
	<string>vk-app-gb</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-app-gb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570919367748:ios:8db8317ca937223d373811</string>
</dict>
</plist>